.playlist-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
  }
  
  .playlist-card:hover {
    transform: scale(1.01);
  }
  
  .playlist-photo {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .playlist-title {
    text-align: center;
    width: 100%;
    white-space: nowrap; /* Запрещаем перенос текста на новую строку */
    overflow: hidden; /* Обрезаем лишний текст */
    text-overflow: ellipsis; /* Если текст слишком длинный, отображаем многоточие */
    margin: 8px 0;
    height: 18px; /* Фиксированная высота заголовка */
  }
  
  .playlist-card:hover .playlist-button {
    opacity: 1;
  }
  